// use this file for your own variables and mixins

// override Compass' horizontal-list mixin with our own settings
@mixin horizontal-list($padding: 10px, $direction: left) {
  li {
    @include horizontal-list-item($padding, $direction); } }


$base-font-size: 16px;
$base-line-height: 24px;
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;